.App {
    background-color: gray;
  }
  
  .App-Header {
    text-align: center;
    background-color: red;
    
  }
  
  .App-Content {
    text-align: center;
    background-color: transparent;
  }
  
  
  .App-Footer {
    flex-direction: column;
    flex-flow: row;
    background-color: transparent;
  }