/*.container{
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    width: 100%;
    margin: 0 auto;
}

.maintext{
    text-align: center;
    background-color: blanchedalmond;
    word-break: break-all;
    padding: 5px;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

div#root {
  height: 100%; /* remove this line to see div.app is no more 100% height 
  background-color: indigo;
}

div.app {
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: cornsilk;
}*/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  color: white;
  text-align: center;
}
.content {
  background: #333;
  color: #fff;
  text-align: center;
  line-height: normal;
  align-content: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
} 
  .content div{
      color: #fff;
      text-align: center;
      line-height: normal;
      align-content: center;
      width: 70vw;
      height: 100vh;
      flex-direction:column;
      display:flex;
      justify-content: center;
      align-items: center;
      position:fixed;
  }
      .content div h2 {
          font-size: calc(2vw + 2vh + 1vmin);
          filter: drop-shadow(4px 2px 1px black);
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 25px;
          position: absolute;
          top: 5vh; /*CHANGE*/
          width: 80vw;   
      }
      .content div img {
          /*width: 100vw;*/
          filter: blur(2px);
          height: 100vh;
          position: absolute;
      }
.header-game {
  position: fixed;
  color: white;
  background-color: transparent;
  width: 100vw;
  justify-content:start;
  align-items: baseline;
  padding: 0px;
}
.button-settings {
  position: relative;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: 20vw;
  height: 2rem;
  
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  bottom:5px;
  -webkit-user-select: none;
}
.button-quit {
  position: fixed;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 2vw;
  font-weight: 500;
  margin:5px;
  width: 10vw;
  height: 3rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
}
.button-quit:hover, .button-settings {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

.settings {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  background-color: white;
  width: 90vw;
  height: 70vh;
  transform: translate(-50%, -50%);
}
  .settings h1{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    border: 1px solid black;
    color: white;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  }

  .settings .options{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .options div{
    justify-content: space-evenly;
    display: flex;
  }
  .options div u{
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    width: 80%;
  }

.confirm {
  display: none;
}
  .confirm > div:first-of-type {
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      top: 0px;
      left: 0px;
  }
  .confirm > div:last-of-type {
      padding: 10px 20px;
      background: white;
      position: absolute;
      width: auto;
      height: auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 5px;
      border: 1px solid #333;
  }
      .confirm > div:last-of-type div:first-of-type {
          min-width: 150px;
          padding: 10px;
      }
      .confirm > div:last-of-type div:last-of-type {
          text-align: right;
      }

@keyframes eh {
  0% {
      transform: scale(0%)
  }

  ; 100% {
      transform: scale(100%)
  }

  ;
}

.flipswitch {
  position: relative;
  width: 56px;
}
  .flipswitch input[type=checkbox] {
      display: none;
  }
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 35px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
  .flipswitch-inner:before, .flipswitch-inner:after {
      float: left;
      width: 50%;
      height: 29px;
      padding: 0;
      line-height: 29px;
      font-size: 18px;
      color: white;
      font-family: Trebuchet, Arial, sans-serif;
      font-weight: bold;
      box-sizing: border-box;
  }
  .flipswitch-inner:before {
      content: "";
      padding-left: 13px;
      background-color: #149900;
      color: #FFFFFF;
  }
  .flipswitch-inner:after {
      content: "";
      padding-right: 13px;
      background-color: #EBEBEB;
      color: #888888;
      text-align: right;
  }
.flipswitch-switch {
  width: 29px;
  margin: 0px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 35px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}